
/* Media query for tablets */
@media (min-width: 768px) {
    .grid-container-flex {
      font-size: 1.5rem;
    }
  
  }
  
  /* Media query for desktops */
  @media (min-width: 1024px) {
    .grid-container-flex {
      font-size: 2rem;
    }
  }
  

  h1 { 
      color: #262626; 
      font-family:'Libre Franklin', sans-serif; 
      font-size: 3em;
      margin-top: 240px;
      margin-left: 20px;
      margin-bottom: 70px;
      text-align: center;
  }
  
  
  h2 { 
      color: #262626; 
      font-family:'Libre Franklin', sans-serif; 
      font-size: 1.5em;
      margin-left: 20px;
  }

  p { 
    color: #262626; 
    font-family:'Libre Franklin', sans-serif; 
    font-size: 1em;
    margin-left: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
}

  b {
    font-family:'Libre Franklin', sans-serif; 
    font-size: 1.2em;

  }
  
          body {
            background-image: linear-gradient(43deg, #FF7900, #FFB570, #FF97B0);
              margin: 0; 
              display: flex;
              justify-content: center; 
              align-items: center; 
              background-size: cover; 
              background-position: center; 
              text-align: center; 

          }
          .grid-container-flex {
              display: flex;
              flex-direction: column; 
              align-items: center;
              padding: 20px;
              color: #262626; 
          }
  
          /* Media query for tablets */
          @media (min-width: 768px) {
              .grid-container-flex {
                  font-size: 1.5rem; 
              }
              .my-button {
                  font-size: 1.7rem; 
              }
          }
  
          /* Media query for desktops */
          @media (min-width: 1024px) {
              .grid-container-flex {
                  font-size: 2rem; 
              }
              .my-button {
                  font-size: 2rem; 
              }
          }

* {box-sizing: border-box}


.container {
  padding: 10px 20px;
}


input[type=email] {
  width: 100%;
    padding: 15px;
    margin: 10px 0 30px 0;
    border-radius: 12px;
    display: inline-block;
    background: white;
    border: 1.5px solid black;
    font-size: 0.8em;
    font-family:'Libre Franklin', sans-serif; 
}

input[type=email]:focus {
  background-color: #f1f1f1;
  outline: none;
}


.registerbtn {
  background-color: #262626;
  color: white;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-family:'Libre Franklin', sans-serif; 
    font-size: 1.2em;
    border: none;
    margin-top: 50px;
    margin-bottom: 20px;
}

.registerbtn:hover {
  opacity:1;
    background-color: white;
    color: #262626;
}


a {
  color: #262626;
}


.signin {
  background-color: #ffffff;
  text-align: center;
}